h1 {
    color: #66BFBF;
    font-size: 5.625rem; 
    /*This is because 100% is equal to 16px*/
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0px auto;
}

h2 {
    padding-bottom: 10px;
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #40514e;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    margin: 10px 20px;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
    a:hover {
        color: #EAF6F6;
    }

hr {
    border: dotted #9bd6e2 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
}

.topcontainer {
    position: relative;
    padding-top: 100px;
    background-color: #e4e8e4;
}

.midcontainer {
    margin: 100px auto;
}

.bottomcontainer {
    background-color: #66BFBF;
    margin-top: 5%;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row{
    text-align: left;
    margin: 100px auto 100px auto;
    width: 50%;
}

.python-photo {
    margin-right: 30px;
    float: left;
    width: 20%;
}

.web-photo {
    margin-left: 30px;
    float: right;
    width: 20%;
}

#main-icon {
    width: 17%;
}

#intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

#copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}
