<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis et exercitationem accusantium, tempora dolore
        dicta esse distinctio fugiat, nesciunt quibusdam neque a tempore quia deserunt ad omnis consectetur soluta enim?
        Doloremque libero consectetur ad reiciendis ipsa at numquam, tempore et fugiat aliquid assumenda quisquam
        suscipit illo accusamus excepturi in soluta repudiandae quasi recusandae voluptatem, enim nesciunt alias
        necessitatibus! Voluptatum officia non recusandae delectus quos optio exercitationem nemo! Nulla eaque natus,
        rerum dignissimos fugit, harum voluptas numquam dolor praesentium illo ab itaque consequuntur perferendis, earum
        libero excepturi quae repellendus? Maiores quam in atque similique corrupti quod nostrum error tenetur vero vel?
    </p>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ipsam ratione explicabo earum quisquam itaque
        quaerat pariatur recusandae voluptate officiis? Animi error sapiente dolore commodi sint voluptatum dolorem cum
        quis ab in nemo at aliquam, ullam aperiam ad saepe tenetur labore maiores ipsa et distinctio? Quos corporis,
        cumque facilis optio voluptas dolore, suscipit libero incidunt animi sit nihil labore recusandae, vero enim
        nostrum dolorum laudantium exercitationem. Laudantium laboriosam impedit, eligendi reiciendis ipsam quis
        assumenda? Perspiciatis nesciunt voluptates quas quos impedit in, eos illum, reiciendis atque sequi aliquid
        voluptatibus soluta id accusantium beatae et quibusdam. Accusamus, id rem! Excepturi, temporibus laboriosam!
    </p>

    <%- include("footer") -%>