h1 {
    margin-top: 0px;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    text-align: center;
}

.topcontainer {
    position: relative;
    padding-top: 100px;
    background-color: #86c6f1;
}

.midcontainer {
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottomcontainer {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
