h1 {
    color: #66BFBF;
    font-size: 5.625rem; 
    /*This is because 100% is equal to 16px*/
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0px auto;
}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

.topcontainer {
    position: relative;
    padding-top: 100px;
    background-color: #e4e8e4;
}

.midcontainer {
}

.bottomcontainer {
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill-row{
    line-height: 2;
    text-align: left;
    margin: 100px auto 100px auto;
    width: 50%;
}

.python-photo {
    margin-right: 30px;
    float: left;
    width: 20%;
}

.web-photo {
    margin-left: 30px;
    float: right;
    width: 20%;
}